<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="D:/AT_Assignment">
        <classes>
            <class name="TestCases.TestCases">
                <methods>
                    <include name="TestCase_SearchUserWithPartialTextMatch"/>
                    <include name="TestCase_VerifyUserCanAddPayGrades"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>